body {
  font-family: 'Poppins', sans-serif;
  margin: 0; }

nav {
  overflow: hidden;
  background-color: #f9f9f9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }
  nav ul {
    text-align: center;
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 20px; }
    nav ul li {
      display: inline;
      font-family: "poppins", sans-serif;
      font-size: 20px; }
      nav ul li a {
        color: #666666;
        text-decoration: none;
        padding: 7px;
        font-family: poppins; }
        nav ul li a span {
          color: #e38f84; }

.container1 {
  display: grid;
  grid-template-columns: auto auto;
  padding: 9%;
  background-color: #e7e7e7; }
  .container1 .header-text1 {
    font-size: 20px;
    text-align: center;
    float: right;
    padding-left: 290px;
    color: #555555; }
  .container1 img {
    width: 10px; }
  .container1 span {
    color: #e38f84; }
  .container1 p {
    font-size: 13px; }

.container2 {
  display: inline-flex;
  grid-template-columns: auto auto;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 10%;
  background-color: white; }
  .container2 img {
    width: 15px;
    border: #e7e7e7 solid 1px;
    border-radius: 4px;
    padding: 3px;
    display: inline-flex; }
  .container2 .border {
    width: 7%;
    color: #e38f84;
    border-top: 3px solid;
    opacity: 30%; }
  .container2 .border2 {
    width: 30%;
    color: #e38f84;
    border-top: 3px solid;
    opacity: 30%; }
  .container2 form {
    margin-top: 10px; }
    .container2 form .input-1 {
      border-radius: 4px;
      border: 1px #e7e7e7 solid;
      padding: 12px 30px; }
  .container2 .contact-box {
    display: flex;
    align-items: center; }
    .container2 .contact-box p {
      padding: 1px; }

.input-2 {
  border-radius: 4px;
  border: 1px #e7e7e7 solid;
  width: 643px;
  height: 200px;
  padding: 10px; }

input.placeholder {
  float: left;
  text-align: left;
  justify-content: left; }

.button-1 {
  margin-top: 30px;
  outline: 0;
  display: inline-block;
  padding: 10px 28px;
  color: white;
  border: 1px solid #e38f84;
  border-radius: 2px;
  background-color: #e38f84;
  text-align: center;
  cursor: pointer; }

.body-text2 {
  display: inline-block;
  margin-left: 80px; }

p {
  vertical-align: middle; }

.container3 .mapouter {
  text-align: right;
  height: 400px;
  width: 1300px;
  filter: grayscale(100%); }
.container3 .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 1080px; }

.container4 {
  display: inline-flex;
  grid-template-columns: auto auto auto auto;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 40px;
  background-color: white; }
  .container4 .bottom-body-text {
    margin-top: 15%;
    margin-left: 19%;
    margin-right: 7%;
    white-space: nowrap;
    color: #555555; }
  .container4 .bottom-body-text2 {
    margin-top: 7%; }
  .container4 img {
    width: 15px;
    border: #e7e7e7 solid 1px;
    border-radius: 4px;
    padding: 3px;
    display: inline-flex; }
  .container4 .contact-box {
    display: flex;
    align-items: center;
    margin: 5%; }
    .container4 .contact-box p {
      font-size: 10px;
      padding: 1px; }
  .container4 li {
    padding-bottom: 20px;
    color: #555555; }
  .container4 span li {
    color: #e38f84; }
  .container4 .bottom-body-text3 {
    margin-top: 7%;
    margin-left: 8%; }
  .container4 .bottom-body-text4 {
    margin-top: 7%;
    margin-left: 8%; }

footer {
  background-color: #e38f84;
  height: 30px;
  width: 100%; }

/*# sourceMappingURL=main.css.map */
