
// grids styling for index page
.container2 {
    display: grid;
    grid-template-columns: auto auto;
    .first-text{
        display: inline-block;
        grid-template-columns: auto auto;
    }
}
.sub-container4{
    display: grid;
    
}
.sub-content{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0px;
    margin-left: 58px;
   
}
.border{
    display:flex;
}
.container5{
    .subsection{
        display: inline-grid;
        grid-template-columns: auto auto auto auto;
    }
}
.container6{
    .counter-section{
        display:inline-grid;
        grid-template-columns:auto auto auto auto;
    }
}
.container7{
    .sub-container7{
        display: flex;
        grid-template-columns: auto auto;
        padding-left: 42%;
        padding-top: 7%;
    }
}
.container9 {
    display: inline-flex;
    grid-template-columns: auto auto auto auto;
    grid-column-start: 1;
    grid-column-end: 2; 
}
footer{
    display: flex;
    grid-template-columns: auto auto;
}
// grids styling for contact page
.section_1{
    display: grid;
    grid-template-columns: auto auto;
}
.section_2 {
    display: inline-flex;
    grid-template-columns: auto auto;
    grid-column-start: 1;
    grid-column-end: 2; 
}
.section_4 {
    display: inline-flex;
    grid-template-columns: auto auto auto auto;
    grid-column-start: 1;
    grid-column-end: 2; 
}