/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  html, body {
    width: auto;
    overflow-x: hidden
  } 
  nav {
    overflow: hidden;
    background-color: $nav-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    .logo{
      max-width: 100%;
    }
    a:hover {
      color: #e38f84;
    }

    ul {
      text-align: center;
      list-style-type: none;
      list-style-type: none;
      margin: 0;
      padding: 20px;
      margin-left: 16%;
      margin-top: -7%;
      li {
        display: inline;
        font-family: "poppins", sans-serif;
        font-size: 1.25rem;
  
        a {
          color: #666666;
          text-decoration: none;
          margin-left: 40px;
          padding: 14px;
          font-family: poppins;
          a:hover {
            color: #e38f84;
          }
        }
      }
    }
  }
  .container1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/home.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .container1-text {
      text-align: center;
      position: relative;
      font-size: 1.5625rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $secondary-background;
    }
    span {
      font-size: 0.9375rem;
    }
  }
  .container2 {
    height: 50%;
  
    margin: 80px;
    margin-left: 180px;
    // button styling
    .button-3 {
      a {
        text-decoration: none;
      color: white;
      }
    }
    p {
      font-size: 0.875rem;
    }
  
    .first-image img {
      width: 98%;
      padding: 5px;
      height: 55%;
      grid-gap: 300px;
    }
    .border {
      width: 7%;
      color: $main-color;
      border-top: 3px solid;
      opacity: 30%;
    }
    .border2 {
      display: grid;
      width: 30%;
      color: $primary-background;
      border-top: 3px solid;
    }
    .border-line {
      display: flex;
    }
  
  }
}


/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  html, body {
    width: auto;
    overflow-x: hidden
  } 
  nav {
    overflow: hidden;
    background-color: $nav-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    .logo{
      margin-left: 37%;
      max-width: 100%;
    }
    a:hover {
      color: #e38f84;
    }
    ul {
      text-align: center;
      list-style-type: none;
      list-style-type: none;
      margin: 0;
      padding: 20px;
      margin-left: 1%;
      margin-top: -2%;
      li {
        display: inline;
        font-family: "poppins", sans-serif;
        font-size: 1.25rem;
  
        a {
          color: #666666;
          text-decoration: none;
          margin-left: 40px;
          
          font-family: poppins;
          a:hover {
            color: #e38f84;
          }
        }
      }
    }
  }
  .container1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/home.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .container1-text {
      text-align: center;
      position: relative;
      font-size: 1.5625rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $secondary-background;
    }
    span {
      font-size: 0.9375rem;
    }
  }
  .container2 {
    height: 50%;
  
    margin: 80px;
    margin-left: 180px;
    // button styling
    .button-3 {
      a {
        text-decoration: none;
      color: white;
      }
    }
    p {
      font-size: 0.875rem;
    }
  
    .first-image img {
      width: 98%;
      padding: 5px;
      height: 55%;
      grid-gap: 300px;
    }
    .border {
      width: 7%;
      color: $main-color;
      border-top: 3px solid;
      opacity: 30%;
    }
    .border2 {
      display: grid;
      width: 30%;
      color: $primary-background;
      border-top: 3px solid;
    }
    .border-line {
      display: flex;
    }
  
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  html, body {
    width: auto;
    overflow-x: hidden;
  } 
  nav {
    overflow: hidden;
    background-color: $nav-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    a:hover {
      color: #e38f84;
    }
    .logo{
      margin-left: 36%;
      max-width: 100%;
    }
    ul {
      text-align: center;
      list-style-type: none;
      list-style-type: none;
      margin: 0;
      padding: 20px;
      margin-left: -4%;
      margin-top: -2%;
      li {
        display: inline;
        font-family: "poppins", sans-serif;
        font-size: 1.25rem;
  
        a {
          color: #666666;
          text-decoration: none;
          margin-left: 40px;
          padding: 0;
          font-family: poppins;
          a:hover {
            color: #e38f84;
          }
        }
      }
    }
  }
  .container1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/home.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .container1-text {
      text-align: center;
      position: relative;
      font-size: 1.5625rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $secondary-background;
    }
    span {
      font-size: 0.9375rem;
    }
  }
  .container2 {
    display: grid;
    grid-template-columns: auto;
}


}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  html, body {
    width: auto;
    overflow-x: hidden
  } 
  nav {
    overflow: hidden;
    background-color: $nav-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    .logo{
      max-width: 100%;
    }
    a:hover {
      color: #e38f84;
    }
    ul {
      text-align: center;
      list-style-type: none;
      list-style-type: none;
      margin: 0;
      padding: 20px;
      margin-left: 21%;
      margin-top: -7%;
      li {
        display: inline;
        font-family: "poppins", sans-serif;
        font-size: 1.25rem;
  
        a {
          color: #666666;
          text-decoration: none;
          margin-left: 40px;
          padding: 14px;
          font-family: poppins;
          a:hover {
            color: #e38f84;
          }
        }
      }
    }
  }
  .container1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/home.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .container1-text {
      text-align: center;
      position: relative;
      font-size: 1.5625rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $secondary-background;
    }
    span {
      font-size: 0.9375rem;
    }
  }
  .container2 {
    display: grid;
    grid-template-columns: auto;
}


}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  html, body {
    width: auto;
    overflow-x: hidden
  } 
nav {
  overflow: hidden;
  background-color: $nav-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  .logo{
    margin-left: 28%;
    max-width: 100%;
  }
  a:hover {
    color: #e38f84;
  }
  ul {
    text-align: center;
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    margin-left: -2%;
    margin-top: -2%;
    li {
      display: inline;
      font-family: "poppins", sans-serif;
      font-size: 1.25rem;

      a {
        color: #666666;
        text-decoration: none;
        margin-left: 40px;
        padding: 0;
        font-family: poppins;
        a:hover {
          color: #e38f84;
        }
      }
    }
  }
}
.container1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/home.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .container1-text {
    text-align: center;
    position: relative;
    font-size: 1.5625rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $secondary-background;
  }
  span {
    font-size: 0.9375rem;
  }
}
.container2 {
  display: grid;
  grid-template-columns: auto;
}


}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  html, body {
    width: auto;
    overflow-x: hidden
  } 
nav {
  overflow: hidden;
  background-color: $nav-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  .logo{
    margin-left: 16%;
    max-width: 100%;
  }
  a:hover {
    color: #e38f84;
  }
  ul {
    text-align: center;
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    margin-left: -2%;
    margin-top: -4%;
    li {
      display: inline;
      font-family: "poppins", sans-serif;
      font-size: 1.25rem;

      a {
        color: #666666;
        text-decoration: none;
        margin-left: 40px;
        padding: 0;
        font-family: poppins;
        a:hover {
          color: #e38f84;
        }
      }
    }
  }
}
.container1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/home.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .container1-text {
    text-align: center;
    position: relative;
    font-size: 1.5625rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $secondary-background;
  }
  span {
    font-size: 0.9375rem;
  }
}
.container2 {
  display: grid;
  grid-template-columns: auto ;
  .first-text{
    display: inline-block;
    grid-template-columns: auto auto;
    font-size: 2rem;
    margin-left: -22%;
  }
  
}
.first-image{
  display: grid;
  grid-template-columns: auto ;

}
.container2 .first-image img {
  width: 98%;
  padding: 5px;
  /* height: 55%; */
  grid-gap: 300px;
}
.container3 {
  background-color: black;
  display: grid;
  grid-gap: 0;
  color: #f9f9f9;
  grid-template-columns: auto auto auto auto;
  padding: 50px;
  margin-top: 133%;
}
}